<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="review">
<!-- 
테이블 
alter table review drop primary key cascade;
drop sequence seq_review;
drop table review;
create table review(
bno number not null primary key,
subject varchar2(200),
content varchar2(4000),
regdate date default sysdate,
viewcnt number default 0,
show char(1) default 'y'
); 

create sequence seq_review
increment by 1
start with 1;
 -->
    <!-- 후기 작성 -->
	<insert id="insert">
		<!-- 글 번호를 시퀀스로 생성 -->
		INSERT INTO review (
		  bno, subject, content, show
		) VALUES (
		   seq_review.NEXTVAL, #{subject}, #{content} , 'y'
		)
	</insert>
    
    <!-- 전체목록조회 -->
    <select id="listAll" resultType="com.kh.web.model.travel.dto.ReviewVO" >
    select bno, subject, content, regdate, viewcnt from review
    order by bno desc, regdate desc
    </select>
    
    <!-- 후기 보기 -->
    <select id="view" resultType="com.kh.web.model.travel.dto.ReviewVO">
		<!-- SELECT * FROM tbl_board  -->
		SELECT 
			bno, subject, content, regdate, viewcnt, show
		FROM 
			review 
		AND 
			bno = #{bno}
	</select>
</mapper>